@font-face {
	font-family: 'ExpoArabic-Bold';
	src: url('./fonts/ArbFONTS-ExpoArabic-Bold.otf') format('opentype');
  }
  
  @font-face {
	font-family: 'JannaLT-Bold';
	src: url('./fonts/janna-lt-bold.ttf') format('truetype');
  }
  
  body {
	font-family: 'ExpoArabic-Bold', 'JannaLT-Bold', sans-serif;
	background: rgba(39.00000147521496, 44.000001177191734, 92.00000211596489, 1);
  }
  

  @font-face {
	font-family: 'ExpoArabic-Bold';
	src: url('fonts/ExpoArabic-Bold.otf') format('opentype');
	font-weight: bold;
	font-style: normal;
  }
  
  :root {
	--font-family-expo_arabic-bold: 'ExpoArabic-Bold';
  }
  
.e4_8 { 
	background-color:rgba(39.00000147521496, 44.000001177191734, 92.00000211596489, 1);
	width:1080px;
	height:100%;
	position:absolute;
}
.e9_41 { 
	width:1081.030029296875px;
	height:1921.93994140625px;
	position:absolute;
	left:-1px;
	top:-2px;
}
.e9_42 { 
	width:1081.030029296875px;
	height:1921.93994140625px;
	position:absolute;
	left:0px;
	top:0px;
}
.e9_43 { 
	background-color:rgba(39.00000147521496, 44.000001177191734, 92.00000211596489, 1);
	width:1081.030029296875px;
	height:1921.93994140625px;
	position:absolute;
	left:0px;
	top:0px;
}
.e9_44 { 
	width:32.409996032714844px;
	height:64.81999969482422px;
	position:absolute;
	left:111.99993896484375px;
	top:62px;
}

.e9_45 { 
	width:32.409996032714844px;
	height:64.81999969482422px;
	position:absolute;
	left:0px;
	top:0px;
}
.e9_50 { 
	width:827.8400268554688px;
	height:440.82000732421875px;
	position:absolute;
	left:128.0500030517578px;
	top:177.67999267578125px;
}
.e9_51 { 
	width:440.8199768066406px;
	height:440.82000732421875px;
	position:absolute;
	left:191.74000549316406px;
	top:0px;
}
.e9_52 { 
	box-shadow:1px 1px 4px rgba(44.000001177191734, 51.00000075995922, 76.0000030696392, 0.5600000023841858);
	width:440.8199768066406px;
	height:440.82000732421875px;
	position:absolute;
	left:0px;
	top:0px;
}
.e9_53 { 
	width:164.14682006835938px;
	height:217.63673400878906px;
	position:absolute;
	left:123.94338989257812px;
	top:125.77999877929688px;
}
.e9_54 { 
	width:74px;
	height:110.48076629638672px;
	position:absolute;
	left:753.8400268554688px;
	top:136.88568115234375px;
}
.e9_55 { 
	width:74px;
	height:110.4776840209961px;
	position:absolute;
	left:0px;
	top:137.57876586914062px;
}
.e9_56 { 
	width:332px;
	height:147.45001220703125px;
	position:absolute;
	left:374.8399963378906px;
	top:655.47998046875px;
}
.e9_57 { 
	color:rgba(232.00000137090683, 192.00000375509262, 46.000001057982445, 1);
	width:332px;
	height:65px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:'ExpoArabic-Bold', 'JannaLT-Bold', sans-serif;
	font-weight: 700;
	text-align:left;
	font-size:53.81999969482422px;
	letter-spacing:0;
}
.e9_58 { 
	width:189.43002319335938px;
	height:58.52001953125px;
	position:absolute;
	left:66.8800048828125px;
	top:88.92999267578125px;
}
.e9_59 { 
	background-color:rgba(255, 255, 255, 1);
	width:189.43002319335938px;
	height:58.52001953125px;
	position:absolute;
	left:0px;
	top:0px;
	border-radius: 44px;
}
.e9_60 { 
	color:rgba(232.00000137090683, 192.00000375509262, 46.000001057982445, 1);
	width:139px;
	height:44px;
	position:absolute;
	left:23.94000244140625px;
	top:4.86004638671875px;
	font-family:'ExpoArabic-Bold', 'JannaLT-Bold', sans-serif;
	font-weight: 700;
	text-align:left;
	font-size:36.45000076293945px;
	letter-spacing:0;
}
.e9_61 { 
	width:830.5399780273438px;
	height:118.94000244140625px;
	position:absolute;
	left:124.93000030517578px;
	top:857.3499755859375px;
}
.e9_62 { 
	background-color:rgba(255, 255, 255, 1);
	width:830.5399780273438px;
	height:118.94000244140625px;
	position:absolute;
	left:0px;
	top:0px;
	border-radius: 22px;
}
.e9_63 { 
	width:147.07000732421875px;
	height:118.94000244140625px;
	position:absolute;
	left:0px;
	top:0px;
}
.e9_64 { 
	background-color:rgba(232.00000137090683, 192.00000375509262, 46.000001057982445, 1);
	width:147.07000732421875px;
	height:118.94000244140625px;
	position:absolute;
	left:0px;
	top:0px;
	border-radius: 22px;
}
.e9_65 { 
	width:59.57140350341797px;
	height:74.24929809570312px;
	position:absolute;
	left:38.18860626220703px;
	top:24.55999755859375px;
}
.e9_66 { 
	width:147.0699462890625px;
	height:118.94000244140625px;
	position:absolute;
	left:683.4700317382812px;
	top:0px;
}
.e9_67 { 
	background-color:rgba(232.00000137090683, 192.00000375509262, 46.000001057982445, 1);
	width:147.0699462890625px;
	height:118.94000244140625px;
	position:absolute;
	left:0px;
	top:0px;
	border-radius: 22px;
}
.e9_68 { 
	width:30.780029296875px;
	height:44.3900146484375px;
	position:absolute;
	left:58.13995361328125px;
	top:36.9100341796875px;
}

.e9_69 { 
	position:absolute;
	left:0px;
	top:0px;
}

.e9_70 { 
	position:absolute;
	left:30.780029296875px;
	top:0px;
}
.e9_73 { 
	width:206px;
	height:102.28997802734375px;
	position:absolute;
	left:204.73001098632812px;
	top:9.4200439453125px;
}
.e9_71 { 
	color:rgba(232.00000137090683, 192.00000375509262, 46.000001057982445, 1);
	width:206px;
	height:40px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:'ExpoArabic-Bold', 'JannaLT-Bold', sans-serif;
	font-weight: 400;
	text-align:left;
	font-size:33.41999816894531px;
	letter-spacing:0;
}
.e9_72 { 
	color:rgba(232.00000137090683, 192.00000375509262, 46.000001057982445, 1);
	width:192px;
	height:59px;
	position:absolute;
	left:0px;
	top:43.28997802734375px;
	font-family:'ExpoArabic-Bold', 'JannaLT-Bold', sans-serif;
	font-weight: 700;
	text-align:left;
	font-size:49.34000015258789px;
	letter-spacing:0;
}
.e9_74 { 
	width:830.5399780273438px;
	height:683.25px;
	position:absolute;
	left:124.94000244140625px;
	top:994.739990234375px;
}
.e9_75 { 
	width:830.5399780273438px;
	height:118.9400634765625px;
	position:absolute;
	left:0px;
	top:0px;
}
.e9_76 { 
	width:147.07000732421875px;
	height:118.9400634765625px;
	position:absolute;
	left:0px;
	top:0px;
}
.e9_77 { 
	background-color:rgba(255, 255, 255, 1);
	width:147.07000732421875px;
	height:118.9400634765625px;
	position:absolute;
	left:0px;
	top:0px;
	border-radius: 22px;
}
.e9_78 { 
	width:59.57140350341797px;
	height:74.24928283691406px;
	position:absolute;
	left:38.17860412597656px;
	top:24.55999755859375px;
}
.e9_79 { 
	width:147.07000732421875px;
	height:118.9400634765625px;
	position:absolute;
	left:683.469970703125px;
	top:0px;
}
.e9_80 { 
	background-color:rgba(255, 255, 255, 1);
	width:147.07000732421875px;
	height:118.9400634765625px;
	position:absolute;
	left:0px;
	top:0px;
	border-radius: 22px;
}
.e9_81 { 

	width:30.780029296875px;
	height:44.4000244140625px;
	position:absolute;
	left:58.1400146484375px;
	top:36.9100341796875px;
}
.e9_84 { 
	width:156px;
	height:77.98004150390625px;
	position:absolute;
	left:214.58999633789062px;
	top:20.67999267578125px;
}
.e9_82 { 
	color:rgba(232.00000137090683, 192.00000375509262, 46.000001057982445, 1);
	width:91px;
	height:31px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:'ExpoArabic-Bold', 'JannaLT-Bold', sans-serif;
	font-weight: 400;
	text-align:left;
	font-size:25.459999084472656px;
	letter-spacing:0;
}
.e9_83 { 
	color:rgba(232.00000137090683, 192.00000375509262, 46.000001057982445, 1);
	width:156px;
	height:45px;
	position:absolute;
	left:0px;
	top:32.98004150390625px;
	font-family:'ExpoArabic-Bold', 'JannaLT-Bold', sans-serif;
	font-weight: 700;	font-weight: 700;
	font-style: normal;
	
	text-align:left;
	font-size:37.59000015258789px;
	letter-spacing:0;
}
.e9_85 { 
	width:830.5399780273438px;
	height:118.9400634765625px;
	position:absolute;
	left:0px;
	top:141.0799560546875px;
}
.e9_86 { 
	width:147.07000732421875px;
	height:118.9400634765625px;
	position:absolute;
	left:0px;
	top:0px;
}
.e9_87 { 
	background-color:rgba(255, 255, 255, 1);
	width:147.07000732421875px;
	height:118.9400634765625px;
	position:absolute;
	left:0px;
	top:0px;
	border-radius: 22px;
}
.e9_88 { 
	width:59.57140350341797px;
	height:74.24925231933594px;
	position:absolute;
	left:38.17860412597656px;
	top:24.56005859375px;
}
.e9_89 { 
	width:147.07000732421875px;
	height:118.9400634765625px;
	position:absolute;
	left:683.469970703125px;
	top:0px;
}
.e9_90 { 
	background-color:rgba(255, 255, 255, 1);
	width:147.07000732421875px;
	height:118.9400634765625px;
	position:absolute;
	left:0px;
	top:0px;
	border-radius: 22px;
}
.e9_91 { 
	width:30.780029296875px;
	height:44.3900146484375px;
	position:absolute;
	left:58.1400146484375px;
	top:36.9100341796875px;
}
.e9_94 { 
	width:125px;
	height:77.97998046875px;
	position:absolute;
	left:214.58999633789062px;
	top:20.6800537109375px;
}
.e9_92 { 
	color:rgba(232.00000137090683, 192.00000375509262, 46.000001057982445, 1);
	width:96px;
	height:31px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:'ExpoArabic-Bold', 'JannaLT-Bold', sans-serif;
	font-weight: 400;
	text-align:left;
	font-size:25.459999084472656px;
	letter-spacing:0;
}
.e9_93 { 
	color:rgba(232.00000137090683, 192.00000375509262, 46.000001057982445, 1);
	width:125px;
	height:45px;
	position:absolute;
	left:0px;
	top:32.97998046875px;
	font-family:'ExpoArabic-Bold', 'JannaLT-Bold', sans-serif;
	font-weight: 700;
	text-align:left;
	font-size:37.59000015258789px;
	letter-spacing:0;
}
.e9_95 { 
	width:830.5399780273438px;
	height:118.93994140625px;
	position:absolute;
	left:0px;
	top:282.1600341796875px;
}
.e9_96 { 
	width:147.07000732421875px;
	height:118.93994140625px;
	position:absolute;
	left:0px;
	top:0px;
}
.e9_97 { 
	background-color:rgba(255, 255, 255, 1);
	width:147.07000732421875px;
	height:118.93994140625px;
	position:absolute;
	left:0px;
	top:0px;
	border-radius: 22px;
}
.e9_98 { 
	width:59.57140350341797px;
	height:74.24934387207031px;
	position:absolute;
	left:38.17860412597656px;
	top:24.5599365234375px;
}
.e9_99 { 
	width:147.07000732421875px;
	height:118.93994140625px;
	position:absolute;
	left:683.469970703125px;
	top:0px;
}
.e9_100 { 
	background-color:rgba(255, 255, 255, 1);
	width:147.07000732421875px;
	height:118.93994140625px;
	position:absolute;
	left:0px;
	top:0px;
	border-radius: 22px;
}
.e9_101 { 
	width:30.780029296875px;
	height:44.389892578125px;
	position:absolute;
	left:58.1400146484375px;
	top:36.9100341796875px;
}
.e9_104 { 
	width:216px;
	height:77.9801025390625px;
	position:absolute;
	left:214.58999633789062px;
	top:20.679931640625px;
}
.e9_102 { 
	color:rgba(232.00000137090683, 192.00000375509262, 46.000001057982445, 1);
	width:87px;
	height:31px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:'ExpoArabic-Bold', 'JannaLT-Bold', sans-serif;
	font-weight: 400;
	text-align:left;
	font-size:25.459999084472656px;
	letter-spacing:0;
}
.e9_103 { 
	color:rgba(232.00000137090683, 192.00000375509262, 46.000001057982445, 1);
	width:216px;
	height:45px;
	position:absolute;
	left:0px;
	top:32.9801025390625px;
	font-family:'ExpoArabic-Bold', 'JannaLT-Bold', sans-serif;
	font-weight: 700;
	text-align:left;
	font-size:37.59000015258789px;
	letter-spacing:0;
}
.e9_105 { 
	width:830.5399780273438px;
	height:118.9400634765625px;
	position:absolute;
	left:0px;
	top:423.22998046875px;
}
.e9_106 { 
	width:147.07000732421875px;
	height:118.9400634765625px;
	position:absolute;
	left:0px;
	top:0px;
}
.e9_107 { 
	background-color:rgba(255, 255, 255, 1);
	width:147.07000732421875px;
	height:118.9400634765625px;
	position:absolute;
	left:0px;
	top:0px;
	border-radius: 22px;
}
.e9_108 { 
	width:59.57140350341797px;
	height:74.24925231933594px;
	position:absolute;
	left:38.17860412597656px;
	top:24.56005859375px;
}
.e9_109 { 
	width:147.07000732421875px;
	height:118.9400634765625px;
	position:absolute;
	left:683.469970703125px;
	top:0px;
}
.e9_110 { 
	background-color:rgba(255, 255, 255, 1);
	width:147.07000732421875px;
	height:118.9400634765625px;
	position:absolute;
	left:0px;
	top:0px;
	border-radius: 22px;
}
.e9_111 { 
	width:30.780029296875px;
	height:44.3900146484375px;
	position:absolute;
	left:58.1400146484375px;
	top:36.9200439453125px;
}
.e9_114 { 
	width:112px;
	height:77.97998046875px;
	position:absolute;
	left:214.58999633789062px;
	top:20.6800537109375px;
}
.e9_112 { 
	color:rgba(232.00000137090683, 192.00000375509262, 46.000001057982445, 1);
	width:94px;
	height:31px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:'ExpoArabic-Bold', 'JannaLT-Bold', sans-serif;
	font-weight: 400;
	text-align:left;
	font-size:25.459999084472656px;
	letter-spacing:0;
}
.e9_113 { 
	color:rgba(232.00000137090683, 192.00000375509262, 46.000001057982445, 1);
	width:112px;
	height:45px;
	position:absolute;
	left:0px;
	top:32.97998046875px;
	font-family:'ExpoArabic-Bold', 'JannaLT-Bold', sans-serif;
	font-weight: 700;
	text-align:left;
	font-size:37.59000015258789px;
	letter-spacing:0;
}
.e9_115 { 
	width:830.5399780273438px;
	height:118.93994140625px;
	position:absolute;
	left:0px;
	top:564.31005859375px;
}
.e9_116 { 
	width:147.07000732421875px;
	height:118.93994140625px;
	position:absolute;
	left:0px;
	top:0px;
}
.e9_117 { 
	background-color:rgba(255, 255, 255, 1);
	width:147.07000732421875px;
	height:118.93994140625px;
	position:absolute;
	left:0px;
	top:0px;
	border-radius: 22px;
}
.e9_118 { 
	background-color:rgba(232.00000137090683, 192.00000375509262, 46.000001057982445, 1);
	width:59.57140350341797px;
	height:74.24934387207031px;
	position:absolute;
	left:38.17860412597656px;
	top:24.5599365234375px;
}
.e9_119 { 
	width:147.07000732421875px;
	height:118.93994140625px;
	position:absolute;
	left:683.469970703125px;
	top:0px;
}
.e9_120 { 
	background-color:rgba(255, 255, 255, 1);
	width:147.07000732421875px;
	height:118.93994140625px;
	position:absolute;
	left:0px;
	top:0px;
	border-radius: 22px;
}
.e9_121 { 
	background-color:rgba(232.00000137090683, 192.00000375509262, 46.000001057982445, 1);
	width:30.780029296875px;
	height:44.3900146484375px;
	position:absolute;
	left:58.1400146484375px;
	top:36.909912109375px;
}
.e9_124 { 
	width:107px;
	height:77.97998046875px;
	position:absolute;
	left:214.58999633789062px;
	top:20.679931640625px;
}
.e9_122 { 
	color:rgba(232.00000137090683, 192.00000375509262, 46.000001057982445, 1);
	width:107px;
	height:31px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:'ExpoArabic-Bold', 'JannaLT-Bold', sans-serif;
	font-weight: 700;
	text-align:left;
	font-size:25.459999084472656px;
	letter-spacing:0;
}
.e9_123 { 
	color:rgba(232.00000137090683, 192.00000375509262, 46.000001057982445, 1);
	width:73px;
	height:45px;
	position:absolute;
	left:0px;
	top:32.97998046875px;
	font-family:'ExpoArabic-Bold', 'JannaLT-Bold', sans-serif;
	font-weight: 700;
	text-align:left;
	font-size:37.59000015258789px;
	letter-spacing:0;
}
.e9_125 { 
	background-image:linear-gradient(0deg, rgba(39.00000147521496, 44.000001177191734, 92.00000211596489, 1) 0%,rgba(39.00000147521496, 44.000001177191734, 92.00000211596489, 0.7920999526977539) 18.99999976158142%,rgba(39.00000147521496, 44.000001177191734, 92.00000211596489, 0.33639997243881226) 50.999999046325684%,rgba(39.00000147521496, 44.000001177191734, 92.00000211596489, 0.006399999838322401) 93.99999976158142%,rgba(39.00000147521496, 44.000001177191734, 92.00000211596489, 0) 100%) ;
	width:1079.47998046875px;
	height:386.8399658203125px;
	position:absolute;
	left:0.25999999046325684px;
	top:1433.75px;
}
.e9_126 { 
	width:1079.739990234375px;
	height:363.580078125px;
	position:absolute;
	left:1.0299999713897705px;
	top:1557.18994140625px;
}
.e9_127 { 
	background-color:rgba(39.00000147521496, 44.000001177191734, 92.00000211596489, 1);
	width:1079.22998046875px;
	height:363.580078125px;
	position:absolute;
	left:0px;
	top:0px;
}
.e9_128 { 
	background-image:linear-gradient(0deg, rgba(166.00000530481339, 192.00000375509262, 252.00000017881393, 1) 0%,rgba(153.00000607967377, 177.0000046491623, 236.00000113248825, 0.8281000256538391) 7.000000029802322%,rgba(113.00000086426735, 130.0000074505806, 186.0000041127205, 0.3480999767780304) 34.00000035762787%,rgba(81.00000277161598, 93.00000205636024, 145.00000655651093, 0.11560000479221344) 56.99999928474426%,rgba(58.00000034272671, 66.00000366568565, 116.00000068545341, 0.02250000089406967) 75.99999904632568%,rgba(44.000001177191734, 50.000000819563866, 98.00000175833702, 0.0015999999595806003) 91.00000262260437%,rgba(39.00000147521496, 44.000001177191734, 92.00000211596489, 0) 100%) ;
	width:1079.739990234375px;
	height:138.2100830078125px;
	position:absolute;
	left:0px;
	top:-102px;
}
.e9_129 { 
	width:264.8000183105469px;
	height:110.739990234375px;
	position:absolute;
	left:401.54998779296875px;
	top:186.2900390625px;
}
.e9_130 { 
	width:264.8000183105469px;
	height:40.14405059814453px;
	position:absolute;
	left:0px;
	top:35.30078125px;
}
.e9_131 { 
	width:48.510009765625px;
	height:40.14405059814453px;
	position:absolute;
	left:0px;
	top:0px;
}
.e9_132 { 
	width:26.57000732421875px;
	height:40.14405059814453px;
	position:absolute;
	left:21.94000244140625px;
	top:0px;
}
.e9_133 { 
	width:26.57000732421875px;
	height:40.14405059814453px;
	position:absolute;
	left:0px;
	top:0px;
}
.e9_134 { 
	width:48.510009765625px;
	height:40.14405059814453px;
	position:absolute;
	left:216.29000854492188px;
	top:0px;
}
.e9_135 { 
	width:26.57000732421875px;
	height:40.14405059814453px;
	position:absolute;
	left:0px;
	top:0px;
}
.e9_136 { 
	width:26.57000732421875px;
	height:40.14405059814453px;
	position:absolute;
	left:21.94000244140625px;
	top:0px;
}
.e9_137 { 
	width:109.39999389648438px;
	height:110.739990234375px;
	position:absolute;
	left:77.70001220703125px;
	top:0px;
}
.e9_138 { 
	width:109.39999389648438px;
	height:110.739990234375px;
	position:absolute;
	left:0px;
	top:0px;
}
.e9_139 { 
	width:28.70001220703125px;
	height:44.580078125px;
	position:absolute;
	left:37.350006px;
	top:31.719971px;
}

.e9_140 { 
	position:absolute;
	left:0px;
	top:0px;
}

.e9_141 { 
	position:absolute;
	left:28.70001220703125px;
	top:0px;
}
.e9_142 { 
	width:17.6600341796875px;
	height:69.320068359375px;
	position:absolute;
	left:908.3899536132812px;
	top:226.760009765625px;
}
.e9_143 { 
	width:17.6600341796875px;
	height:17.860107421875px;
	position:absolute;
	left:0px;
	top:0px;
}
.e9_144 { 
	width:17.6600341796875px;
	height:17.8599853515625px;
	position:absolute;
	left:0px;
	top:25.7301025390625px;
}
.e9_145 { 
	width:17.6600341796875px;
	height:17.8599853515625px;
	position:absolute;
	left:0px;
	top:51.4600830078125px;
}
.e9_148 { 
	width:157px;
	height:77.97998046875px;
	position:absolute;
	left:150.22999572753906px;
	top:217.590087890625px;
}
.e9_146 { 
	color:rgba(232.00000137090683, 192.00000375509262, 46.000001057982445, 1);
	width:157px;
	height:31px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:'ExpoArabic-Bold', 'JannaLT-Bold', sans-serif;
	font-weight: 700;
	text-align:left;
	font-size:25.459999084472656px;
	letter-spacing:0;
}
.e9_147 { 
	color:rgba(232.00000137090683, 192.00000375509262, 46.000001057982445, 1);
	width:146px;
	height:45px;
	position:absolute;
	left:0px;
	top:32.97998046875px;
	font-family:'ExpoArabic-Bold', 'JannaLT-Bold', sans-serif;
	font-weight: 700;
	text-align:left;
	font-size:37.59000015258789px;
	letter-spacing:0;
}
.e9_149 { 
	width:762.280029296875px;
	height:88.8699951171875px;
	position:absolute;
	left:152.80999755859375px;
	top:65.7000732421875px;
}
.e9_150 { 
	background-color:rgba(232.00000137090683, 192.00000375509262, 46.000001057982445, 1);
	width:8.180007934570312px;
	height:20.510009765625px;
	position:absolute;
	left:0px;
	top:68.3599853515625px;
}
.e9_151 { 
	background-color:rgba(232.00000137090683, 192.00000375509262, 46.000001057982445, 1);
	width:8.17999267578125px;
	height:49.300048828125px;
	position:absolute;
	left:12.760009765625px;
	top:39.5599365234375px;
}
.e9_152 { 
	background-color:rgba(232.00000137090683, 192.00000375509262, 46.000001057982445, 1);
	width:8.240005493164062px;
	height:40.260009765625px;
	position:absolute;
	left:25.520004272460938px;
	top:48.5999755859375px;
}
.e9_153 { 
	background-color:rgba(232.00000137090683, 192.00000375509262, 46.000001057982445, 1);
	width:8.180007934570312px;
	height:49.300048828125px;
	position:absolute;
	left:38.339996337890625px;
	top:39.5599365234375px;
}
.e9_154 { 
	background-color:rgba(232.00000137090683, 192.00000375509262, 46.000001057982445, 1);
	width:8.239990234375px;
	height:40.260009765625px;
	position:absolute;
	left:51.100006103515625px;
	top:48.5999755859375px;
}
.e9_155 { 
	background-color:rgba(232.00000137090683, 192.00000375509262, 46.000001057982445, 1);
	width:8.240005493164062px;
	height:20.510009765625px;
	position:absolute;
	left:63.86000061035156px;
	top:68.3599853515625px;
}
.e9_156 { 
	background-color:rgba(232.00000137090683, 192.00000375509262, 46.000001057982445, 1);
	width:8.17999267578125px;
	height:14.18994140625px;
	position:absolute;
	left:76.68000793457031px;
	top:74.6700439453125px;
}
.e9_157 { 
	background-color:rgba(232.00000137090683, 192.00000375509262, 46.000001057982445, 1);
	width:8.240005493164062px;
	height:49.300048828125px;
	position:absolute;
	left:89.44000244140625px;
	top:39.5599365234375px;
}
.e9_158 { 
	background-color:rgba(232.00000137090683, 192.00000375509262, 46.000001057982445, 1);
	width:8.239990234375px;
	height:78.489990234375px;
	position:absolute;
	left:102.20001220703125px;
	top:10.3699951171875px;
}
.e9_159 { 
	background-color:rgba(232.00000137090683, 192.00000375509262, 46.000001057982445, 1);
	width:8.180023193359375px;
	height:86.1400146484375px;
	position:absolute;
	left:115.01998901367188px;
	top:2.719970703125px;
}
.e9_160 { 
	background-color:rgba(232.00000137090683, 192.00000375509262, 46.000001057982445, 1);
	width:8.239990234375px;
	height:71.77001953125px;
	position:absolute;
	left:127.77999877929688px;
	top:17.0899658203125px;
}
.e9_161 { 
	background-color:rgba(232.00000137090683, 192.00000375509262, 46.000001057982445, 1);
	width:8.17999267578125px;
	height:88.8599853515625px;
	position:absolute;
	left:140.60000610351562px;
	top:0px;
}
.e9_162 { 
	background-color:rgba(232.00000137090683, 192.00000375509262, 46.000001057982445, 1);
	width:8.17999267578125px;
	height:55.1500244140625px;
	position:absolute;
	left:153.36001586914062px;
	top:33.7099609375px;
}
.e9_163 { 
	background-color:rgba(232.00000137090683, 192.00000375509262, 46.000001057982445, 1);
	width:8.240020751953125px;
	height:40.260009765625px;
	position:absolute;
	left:166.1199951171875px;
	top:48.5999755859375px;
}
.e9_164 { 
	background-color:rgba(232.00000137090683, 192.00000375509262, 46.000001057982445, 1);
	width:8.17999267578125px;
	height:67.719970703125px;
	position:absolute;
	left:178.94000244140625px;
	top:21.1400146484375px;
}
.e9_165 { 
	background-color:rgba(232.00000137090683, 192.00000375509262, 46.000001057982445, 1);
	width:8.239990234375px;
	height:34.469970703125px;
	position:absolute;
	left:191.70001220703125px;
	top:54.3900146484375px;
}
.e9_166 { 
	background-color:rgba(232.00000137090683, 192.00000375509262, 46.000001057982445, 1);
	width:8.240020751953125px;
	height:71.77001953125px;
	position:absolute;
	left:204.45999145507812px;
	top:17.0899658203125px;
}
.e9_167 { 
	background-color:rgba(232.00000137090683, 192.00000375509262, 46.000001057982445, 1);
	width:8.17999267578125px;
	height:37.5999755859375px;
	position:absolute;
	left:217.27999877929688px;
	top:51.27001953125px;
}
.e9_168 { 
	background-color:rgba(232.00000137090683, 192.00000375509262, 46.000001057982445, 1);
	width:8.239990234375px;
	height:14.18994140625px;
	position:absolute;
	left:230.04000854492188px;
	top:74.6700439453125px;
}
.e9_169 { 
	background-color:rgba(232.00000137090683, 192.00000375509262, 46.000001057982445, 1);
	width:8.239990234375px;
	height:7.010009765625px;
	position:absolute;
	left:242.80001831054688px;
	top:81.8499755859375px;
}
.e9_170 { 
	background-color:rgba(232.00000137090683, 192.00000375509262, 46.000001057982445, 1);
	width:8.180023193359375px;
	height:37.5999755859375px;
	position:absolute;
	left:255.6199951171875px;
	top:51.27001953125px;
}
.e9_171 { 
	background-color:rgba(232.00000137090683, 192.00000375509262, 46.000001057982445, 1);
	width:8.239990234375px;
	height:30.8199462890625px;
	position:absolute;
	left:268.3800048828125px;
	top:58.0400390625px;
}
.e9_172 { 
	background-color:rgba(232.00000137090683, 192.00000375509262, 46.000001057982445, 1);
	width:8.17999267578125px;
	height:17.3800048828125px;
	position:absolute;
	left:281.20001220703125px;
	top:71.47998046875px;
}
.e9_173 { 
	background-color:rgba(232.00000137090683, 192.00000375509262, 46.000001057982445, 1);
	width:8.180023193359375px;
	height:65px;
	position:absolute;
	left:293.9599914550781px;
	top:23.8699951171875px;
}
.e9_174 { 
	background-color:rgba(232.00000137090683, 192.00000375509262, 46.000001057982445, 1);
	width:8.239990234375px;
	height:30.8199462890625px;
	position:absolute;
	left:306.7200012207031px;
	top:58.0400390625px;
}
.e9_175 { 
	background-color:rgba(232.00000137090683, 192.00000375509262, 46.000001057982445, 1);
	width:8.17999267578125px;
	height:14.18994140625px;
	position:absolute;
	left:319.5400085449219px;
	top:74.6700439453125px;
}
.e9_176 { 
	background-color:rgba(255, 255, 255, 1);
	width:8.239990234375px;
	height:37.5999755859375px;
	position:absolute;
	left:332.3000183105469px;
	top:51.27001953125px;
}
.e9_177 { 
	background-color:rgba(255, 255, 255, 1);
	width:8.240020751953125px;
	height:65px;
	position:absolute;
	left:345.05999755859375px;
	top:23.8699951171875px;
}
.e9_178 { 
	background-color:rgba(255, 255, 255, 1);
	width:8.180023193359375px;
	height:78.489990234375px;
	position:absolute;
	left:357.8800048828125px;
	top:10.3699951171875px;
}
.e9_179 { 
	background-color:rgba(255, 255, 255, 1);
	width:8.239990234375px;
	height:65px;
	position:absolute;
	left:370.6399841308594px;
	top:23.8699951171875px;
}
.e9_180 { 
	background-color:rgba(255, 255, 255, 1);
	width:8.239990234375px;
	height:71.77001953125px;
	position:absolute;
	left:383.3999938964844px;
	top:17.0899658203125px;
}
.e9_181 { 
	background-color:rgba(255, 255, 255, 1);
	width:8.17999267578125px;
	height:52.4300537109375px;
	position:absolute;
	left:396.2200012207031px;
	top:36.43994140625px;
}
.e9_182 { 
	background-color:rgba(255, 255, 255, 1);
	width:8.239990234375px;
	height:30.8199462890625px;
	position:absolute;
	left:408.9800109863281px;
	top:58.0400390625px;
}
.e9_183 { 
	background-color:rgba(255, 255, 255, 1);
	width:8.239990234375px;
	height:52.4300537109375px;
	position:absolute;
	left:421.7400207519531px;
	top:36.43994140625px;
}
.e9_184 { 
	background-color:rgba(255, 255, 255, 1);
	width:8.17999267578125px;
	height:71.77001953125px;
	position:absolute;
	left:434.5600280761719px;
	top:17.0899658203125px;
}
.e9_185 { 
	background-color:rgba(255, 255, 255, 1);
	width:8.24005126953125px;
	height:65px;
	position:absolute;
	left:447.3199768066406px;
	top:23.8699951171875px;
}
.e9_186 { 
	background-color:rgba(255, 255, 255, 1);
	width:8.17999267578125px;
	height:78.489990234375px;
	position:absolute;
	left:460.1399841308594px;
	top:10.3699951171875px;
}
.e9_187 { 
	background-color:rgba(255, 255, 255, 1);
	width:8.239990234375px;
	height:62.9100341796875px;
	position:absolute;
	left:472.8999938964844px;
	top:25.949951171875px;
}
.e9_188 { 
	background-color:rgba(255, 255, 255, 1);
	width:8.239990234375px;
	height:47.7900390625px;
	position:absolute;
	left:485.6600036621094px;
	top:41.0699462890625px;
}
.e9_189 { 
	background-color:rgba(255, 255, 255, 1);
	width:8.17999267578125px;
	height:30.8199462890625px;
	position:absolute;
	left:498.4800109863281px;
	top:58.0400390625px;
}
.e9_190 { 
	background-color:rgba(255, 255, 255, 1);
	width:8.239990234375px;
	height:16.050048828125px;
	position:absolute;
	left:511.2400207519531px;
	top:72.8199462890625px;
}
.e9_191 { 
	background-color:rgba(255, 255, 255, 1);
	width:8.239990234375px;
	height:8.9200439453125px;
	position:absolute;
	left:524px;
	top:79.93994140625px;
}
.e9_192 { 
	background-color:rgba(255, 255, 255, 1);
	width:8.1800537109375px;
	height:32.6700439453125px;
	position:absolute;
	left:536.8199462890625px;
	top:56.18994140625px;
}
.e9_193 { 
	background-color:rgba(255, 255, 255, 1);
	width:8.239990234375px;
	height:19.52001953125px;
	position:absolute;
	left:549.5799560546875px;
	top:69.3399658203125px;
}
.e9_194 { 
	background-color:rgba(255, 255, 255, 1);
	width:8.239990234375px;
	height:52.4300537109375px;
	position:absolute;
	left:562.3399658203125px;
	top:36.43994140625px;
}
.e9_195 { 
	background-color:rgba(255, 255, 255, 1);
	width:8.17999267578125px;
	height:35.219970703125px;
	position:absolute;
	left:575.1600341796875px;
	top:53.6400146484375px;
}
.e9_196 { 
	background-color:rgba(255, 255, 255, 1);
	width:8.239990234375px;
	height:41.0699462890625px;
	position:absolute;
	left:587.9200439453125px;
	top:47.7900390625px;
}
.e9_197 { 
	background-color:rgba(255, 255, 255, 1);
	width:8.17999267578125px;
	height:54.5699462890625px;
	position:absolute;
	left:600.739990234375px;
	top:34.2900390625px;
}
.e9_198 { 
	background-color:rgba(255, 255, 255, 1);
	width:8.17999267578125px;
	height:47.7900390625px;
	position:absolute;
	left:613.5px;
	top:41.0699462890625px;
}
.e9_199 { 
	background-color:rgba(255, 255, 255, 1);
	width:8.24005126953125px;
	height:42.52001953125px;
	position:absolute;
	left:626.260009765625px;
	top:46.3399658203125px;
}
.e9_200 { 
	background-color:rgba(255, 255, 255, 1);
	width:8.17999267578125px;
	height:29.3699951171875px;
	position:absolute;
	left:639.0799560546875px;
	top:59.489990234375px;
}
.e9_201 { 
	background-color:rgba(255, 255, 255, 1);
	width:8.239990234375px;
	height:24.969970703125px;
	position:absolute;
	left:651.8399658203125px;
	top:63.8900146484375px;
}
.e9_202 { 
	background-color:rgba(255, 255, 255, 1);
	width:8.239990234375px;
	height:19.52001953125px;
	position:absolute;
	left:664.5999755859375px;
	top:69.3399658203125px;
}
.e9_203 { 
	background-color:rgba(255, 255, 255, 1);
	width:8.17999267578125px;
	height:14.18994140625px;
	position:absolute;
	left:677.4200439453125px;
	top:74.6700439453125px;
}
.e9_204 { 
	background-color:rgba(255, 255, 255, 1);
	width:8.239990234375px;
	height:10.3699951171875px;
	position:absolute;
	left:690.1800537109375px;
	top:78.489990234375px;
}
.e9_205 { 
	background-color:rgba(255, 255, 255, 1);
	width:8.239990234375px;
	height:6.719970703125px;
	position:absolute;
	left:702.9400634765625px;
	top:82.1400146484375px;
}
.e9_206 { 
	background-color:rgba(255, 255, 255, 1);
	width:8.1800537109375px;
	height:4.1700439453125px;
	position:absolute;
	left:715.760009765625px;
	top:84.68994140625px;
}
.e9_207 { 
	background-color:rgba(255, 255, 255, 1);
	width:8.239990234375px;
	height:4.1700439453125px;
	position:absolute;
	left:728.52001953125px;
	top:84.68994140625px;
}
.e9_208 { 
	background-color:rgba(255, 255, 255, 1);
	width:8.17999267578125px;
	height:4.1700439453125px;
	position:absolute;
	left:741.3399658203125px;
	top:84.68994140625px;
}
.e9_209 { 
	background-color:rgba(255, 255, 255, 1);
	width:8.17999267578125px;
	height:4.1700439453125px;
	position:absolute;
	left:754.0999755859375px;
	top:84.68994140625px;
}
.e20_9 { 
	color:rgba(255, 255, 255, 1);
	width:338.3928527832031px;
	height:50px;
	position:absolute;
	left:691px;
	top:77px;
	font-family:'ExpoArabic-Bold', 'JannaLT-Bold', sans-serif;
	font-weight: 700;
	text-align:left;
	font-size:43.3554801940918px;
	letter-spacing:0;
}
